*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

/* CSS VARIABLES */

:root{
    --WHITE-COLOR:#FFFFFF;
    --GRAY-COLOR:#eeeeeec6;
    --DARK-BG-COLOR:#161126;
    --DARK-FORM-COLOR:#2c234452;
    --DANGER-TEXT-COLOR:#b80044;
}

body{
    background: var(--DARK-BG-COLOR);
}

a{
    color: var(--DANGER-TEXT-COLOR);
    text-decoration: none;
}


/*#################
  FORM STYLE
##################*/


form h1{
    margin: 20px 0;
    text-align: center;
}

form{
    background: var(--DARK-FORM-COLOR);
    width: 390PX;
    padding: 20px;
    margin:40px auto 0 auto;
    color: var(--WHITE-COLOR);
}

form .form-inputs,
form .form-inputs input{
    width: 100%;
}
form .type-text {
    display: flex;
    gap: 15px;
}

form input{
    padding: 13px 8px;
    margin-top: 20px;
    background: #2c234452;
    color: var(--GRAY-COLOR);
    border: 1px solid #b80044a2;
    border-radius: 35px;
}
form input::placeholder{
    color: var(--GRAY-COLOR);
}

form .checked{
    display: flex;
    margin-top: 25px;
}
.checked input[type="checkbox"]{
    margin: 0;
    padding:0;
    width: 15px;
    height: 15px;
    border: 1px solid var(--GRAY-COLOR);
    border-radius: 5px;
    appearance: none;
    cursor: pointer;
}
.checked input[type="checkbox"]:checked{
    background: #d90145;
}
.checked input[type="checkbox"]:checked::after{
    content: "ok";
    color: var(--WHITE-COLOR);
    font-size: 10px;
    text-align: center;
}

form .checked .terms{
    margin-left: 8px;
}


form button{
    width: 100%;
    padding: 10px 5px;
    margin-top: 30px;
    font-weight: bold;
    font-size: 20px;
    color: var(--WHITE-COLOR);
    background: #b80044ce;
    border-radius: 35px;
    border: none;
    cursor:pointer;
}
form button:hover{
    background: var(--DANGER-TEXT-COLOR);
}

form .account{
    text-align: center;
    margin-top: 70px;
    font-size: 18px;
}

/*#################
  END FORM STYLE
##################*/